.hero-slider {
  height: 500px;
   
            
  position: relative;
}

.hero-slide {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}



.swiper-button-next,
.swiper-button-prev {
  color: #f7c411 !important;
  width: 50px !important;
  height: 50px !important;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
}

@media (max-width: 768px) {
  .hero-slider,
  .hero-slide {
    height: 500px;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}